html {
  font-family: "Avenir";
}

:root {
  --font-size: 3rem;
  --line-height: 1.2;
  --num-words: 5;
  --animation-duration: 7s;
  --green: #58bd95;
}

.rotating-text {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.window {
  display: inline-block;
  border-radius: 0.5rem;
  overflow: hidden;
  flex-grow: 1; /* Allows .window to grow and take up remaining space */
  height: calc(var(--font-size) * var(--line-height));
  vertical-align: bottom;
}

.window-inner {
  display: inline-block;
  animation: scroll-text var(--animation-duration) ease-in-out infinite;
  color: var(--green);
}
.window span {
  display: block;
}

@keyframes scroll-text {
  0% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(calc(-20%));
  }
  40% {
    transform: translateY(calc(-40%));
  }
  60% {
    transform: translateY(calc(-60%));
  }
  80% {
    transform: translateY(calc(-80%));
  }
  100% {
    transform: translateY(calc(-80%));
  }
}

.container {
  width: 100%;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.nowrap {
  white-space: nowrap;
}

html {
  background: #232423;
  color: #ccc;
  padding: 1rem;
}

